#edit-zcf350{
    z-index: 2;
    top: 0px;
    left: 0px;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 1200px;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    padding-bottom: 330px;
}
#edit-container-xfl54{
    margin-top: 430px;
    background-color: #fef4eb;
    width: 800px;
    height: auto;
    transform: translate(-50%, -50%);
    top:50%;
    position: absolute;
    left: 50%;
    z-index: 2;
    padding-bottom: 13px;
    padding-right:8px;
    padding-left: 8px;
    border-radius: 5px;
    box-shadow: #333333 0 0 3.0em;
}
.show-message{
    display: block;
}
.hide-message{
    display: none;
}
#edit-container-xfl54 table:first-child tr td:first-child{
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    color: #444;
    padding-left: 7px;
    padding-top: 7px;
    width: 98%;
}
#edit-container-xfl54 table:first-child tr td:nth-child(2){
    text-align: right;
    width: 10%;
    padding-right: 7px;
    padding-top: 7px;
}
#edit-container-xfl54 table:first-child tr td:nth-child(2) div{
    background-color: #f8d0ac;
    border-radius: 5px;
    padding: 7px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #565656;
    cursor: pointer;
}
#edit-form-conaslcte34 form{
    display: block;
}
#edit-form-conaslcte34 form div:first-child{
    display: flex;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    width: 94.5%;
    margin-left: 7px;
    margin-top: 10px;
    align-items: center;
}
#edit-form-conaslcte34 form div:first-child > img{
    width: 100%;
}
#edit-form-conaslcte34 form div:first-child > div:first-child{
    overflow: hidden;
    width: 154px;
    height: 154px;
    cursor: default;
    position: relative;
    border: 1px solid #C8C8C8;
    padding: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#edit-form-conaslcte34 form div:first-child > div:nth-child(2){
    padding-left: 10px;
    padding-top: 9px;
}
#edit-form-conaslcte34 form div:first-child > div:nth-child(2) span{
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    color: #565656;
}
#edit-form-conaslcte34 form div:first-child > div:nth-child(2) input[type="file"]{
    display: none;
}
#edit-form-conaslcte34 form div:first-child > div:nth-child(2) label{
    display: block;
    cursor: pointer;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    color: #565656;
    background-color: #FFFFFF;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-top: 10px;
}
#edit-form-conaslcte34 form div:first-child > div:nth-child(2) label:hover{
    background-color: #ffe4a3;
    box-shadow: 0px 1px 3px 0px rgb(168, 168, 168);

}
#prdesc021-sg{
    background-color: #fff;
    width: 96.6%;
    margin-left: 7px;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
}
#prdesc021-sg div{
    margin-bottom: 15px;
}
.pre-h3021{
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    color: #a5a5a5;
}
.pre-x921{
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.link-33m{
    color: #0070d3;
    text-decoration: none;
}
.link-33m:hover{
    text-decoration: underline;
    cursor: pointer;
}
.in-mp23 input{
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px #CECECE;
    padding: 0px 10px 0px 10px;
    height: 32px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
}
.TA{
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
}
#prdesc021-sg  > div:nth-child(3) input[type="radio"],
#prdesc021-sg  > div:nth-child(4) input[type="checkbox"],
#prdesc021-sg  > div:nth-child(7)  input[type="checkbox"],
#prdesc021-sg  > div:nth-child(10) input[type="checkbox"]{
    display: none;
}
#prdesc021-sg  > div:nth-child(3) label,
#prdesc021-sg  > div:nth-child(4) label,
#btn-zc90,
#prdesc021-sg  > div:nth-child(7)  label{
    cursor: pointer;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    color: #565656;
    background-color: #FFFFFF;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-right: 5px;
}
#prdesc021-sg  > div:nth-child(3) label:hover,
#prdesc021-sg  > div:nth-child(4) label:hover,
#btn-zc90:hover,
#prdesc021-sg  > div:nth-child(7)  label:hover{
    background-color: rgb(255, 228,163);
    box-shadow: rgb(168, 168, 168);
}
#prdesc021-sg  > div:nth-child(3) input[type="radio"] + label,
#prdesc021-sg  > div:nth-child(4) input[type="checkbox"] + label,
#prdesc021-sg  > div:nth-child(7) input[type="checkbox"] + label{
    padding-left: 30px;
    background-image: url(./icons/untick.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    cursor: pointer;
    text-align: left;    
}
#prdesc021-sg  > div:nth-child(3) input[type="radio"]:checked + label,
#prdesc021-sg  > div:nth-child(4) input[type="checkbox"]:checked + label,
#prdesc021-sg  > div:nth-child(7) input[type="checkbox"]:checked + label{
    padding-left: 30px;
    background-image: url(./icons/tick.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    cursor: pointer;
    text-align: left;    
}
#prdesc021-sg  > div:nth-child(5) input[type="text"]{
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px #CECECE;
    padding: 0px 10px 0px 10px;
    height: 32px;
    line-height: 32px;
    width: 90px;
    box-sizing: border-box;
    margin-left: 7px;
    margin-right: 7px;
}
#prdesc021-sg  > div:nth-child(5) select{
    cursor: pointer;
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #A8A8A8;
    padding: 5px;
    height: 32px;
    width: 120px;
    margin-left: 7px;
}
#prdesc021-sg  > div:nth-child(6){
    display: flex;
}
#prdesc021-sg  > div:nth-child(6) > div:first-child{
    margin-right: 15px;
}
#prdesc021-sg  > div:nth-child(6)  input[type="text"]{
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px #CECECE;
    padding: 0px 10px 0px 10px;
    height: 32px;
    line-height: 32px;
    width: 120px;
    box-sizing: border-box;
    margin-left: 1px;
}
#prdesc021-sg  > div:nth-child(7)  select{
    cursor: pointer;
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #A8A8A8;
    padding: 5px;
    height: 32px;
    width: 110px;
    margin-right: 7px;
}
#prdesc021-sg  > div:nth-child(8) textarea{
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: transparent;
    border: solid 1px #CECECE;
    padding: 10px;
    width: 96.6%;
    height: 100px;
    resize: none;
}
#prdesc021-sg  > div:nth-child(9) input[type="text"]{
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px #CECECE;
    padding: 0px 10px 0px 10px;
    height: 32px;
    line-height: 32px;
    width: 150px;
    box-sizing: border-box;
    margin-right: 5px;
}
#prdesc021-sg  > div:nth-child(10){
    width: 100%;
    text-align: right;
}
#prdesc021-sg  > div:nth-child(10) label{
    font: bold 14px "verdana";
    color: #565656;
    cursor: pointer;
}
#prdesc021-sg > div:nth-child(10) input[type="checkbox"] + label {
    padding-left: 30px;
    background-image: url(./icons/unmore.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    cursor: pointer;
    text-align: left;  
}
#prdesc021-sg  > div:nth-child(10) input[type="checkbox"]:checked + label {
    padding-left: 30px;
    background-image: url(./icons/more.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    cursor: pointer;
    text-align: left;
}
.TBT-23 button{    
    display: block;
    cursor: pointer;
    width: 200px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: Verdana;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #50B432;
    border-top: 1px solid #A2BB9B;
    border-left: 1px solid #A2BB9B;
    border-right: 1px solid #A2BB9B;
    border-bottom: 1px solid #579C41;
    border-radius: 5px;
    -webkit-appearance: none;
}
.TBT-23 button:hover{
    background-color: rgb(155, 211, 0);
    box-shadow: 0px 1px 3px 0px rgb(87, 156, 65);
}
#more-zd select{
    width: 250px;
    cursor: pointer;
    color: #565656;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #A8A8A8;
    padding: 5px;
    height: 32px;
    
}