.fc-right-sidebar{
    width: 22%;
    margin-left: 10px;
    margin-top: 19px;
    float: right;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
    padding-top: 0px;
    display: block;
    box-sizing: border-box;
}
.fc-right-sidebar table a{
    text-decoration: none;
}
.fc-right-sidebar-container{
    padding-bottom: 10px;
}
.fc-right-sidebar-wrapper{
    background-color:#ffffff; 
    padding:10px;
    position:relative;  
    border:0px solid #ffffff;
}
.fc-right-sidebar-wrapper:hover{
    background-color:#FFE4A3;   
    cursor:pointer;
}
.fc-rightsidebar-label{
    background-color: #f9a966;
    background-repeat:repeat;
    background-position:top left;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:2px;
    float:left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
}
.fc-rightsidebar-pic{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:280px;
    background-color:#ffffff; 
    height:215px;
}
.fc-rightsidebar-overlay{
    position: absolute; 
    top: 0; left: 0; right:0; bottom:0;
    display: none; 
    background-color: rgba(255,228,163,0.5); 
    width:inherit;
    height:inherit;
    padding:5px;
    margin:inherit;
}
.fc-right-sidebar-wrapper:hover .fc-rightsidebar-overlay{
    display: inline-block;
}
.fc-rightsidebar-tag{
    text-decoration:none;
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    width:270px;
    padding-top:5px;
    height:28px;  
    line-height:15px;
    padding-bottom:2px;
    overflow:hidden;
}
.fc-tag{
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    color: #565656;
    float:left;
    display:block;
    border:0px solid orange;
    padding-top:2px;
}
.fc-price{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    color: #F26D00;
    display:block;
    float:right;
    border:0px solid orange;
}
.fc-currency{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    color: #F26D00; 
}